name: appdecine
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  flutter_dotenv: ^5.1.0
  supabase_flutter: ^2.12.0
  shared_preferences: ^2.2.0
  intl: ^0.20.2
  palette_generator: ^0.3.3+3
  shake: ^3.0.0
  sensors_plus: ^6.1.1
  cached_network_image: ^3.4.1
  receive_sharing_intent: ^1.8.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  assets:
    - .env
